<div>
  <div>
    <%= @card.title %>
  </div>
  <div>
    <%= @card.category %>
    <%= @card.level %>
    <%= @card.content %>
  </div>
  <div>
    <p>Brought to you by : <%= @card.creator.username %> </p>
  </div>
</div>
