<div class="w-full">
  
<div class="intro">
  <div class="img-intro">
    <div class="text-intro">
      <p>Hello soldier, here you can improve two times faster than your friends !</p>
      <p>Discover tips and loadouts according to your current level and share your experience with the world !</p>
    </div>
  </div>    
</div>

<div class="button-index">
  <%= link_to "All Cards", cards_path, class: 'btn-index' %>
</div>

  <h3>Latest trick</h3> <%# POLICE DE OUF A TESTER%>
<div class="cards">
  <div class="card">
    <div class="card-title">
      <div class="toggle-info details" id="card-details">
        <span class="left"></span>
        <span class="right"></span>
      </div>
      <h2><%= @card.title %></h2>
    </div>
    <div class="hidden-content hidden">
      <div class="card_image-holder">
        <%= cl_image_tag @card.photo.key, max_width: 400, crop: :fill %>
      </div>
        <div class="card-description">
          <%= @card.content %>
        </div>
        <div class="card-actions">
          <%= link_to "View More", card_path(@card.id), class: "details" %>
        </div>
    </div>
  </div>
</div>