<div class="w-full">
  
<%# <div class="intro">
  <div class="img-intro">
    <div class="text-intro">
      <p>Hello soldier, here you can improve two times faster than your friends !</p>
      <p>Discover tips and loadouts according to your current level and share your experience with the world !</p>
    </div>
  </div>    
</div> %>

<div class="container-intro">
  <div class="card-intro">
    <div class="face face1">
      <div class="content-intro">           
        <h2>New here ?</h2>
        <h2><small>Click me</small></h2>
      </div>
    </div>
    <div class="face face2">
      <div class="content-intro">
        <p>Hello soldier, here you can improve two times faster than your friends !</p>
        <br>
        <p>Discover tips and loadouts according to your current level and share your experience with the world !</p>
      </div>
    </div>
  </div>
</div>

  <h3>Latest trick</h3>
  <div class="card">
    <div class="card-title">
      <div class="toggle-info details card-details">
        <span class="left"></span>
        <span class="right"></span>
      </div>
      <h2><%= @trick.title %></h2>
    </div>
    <div class="hidden-content hidden">
      <div class="card_image-holder">
        <%= cl_image_tag @trick.photo.key, max_width: 400, crop: :fill %>
      </div>
        <div class="card-description target">
          <%= @trick.content %>
        </div>
        <div class="card-actions">
          <%= link_to "View More", card_path(@trick.id), class: "details" %>
        </div>
    </div>
  </div>

<h3>Latest weapon</h3>
  <div class="card">
    <div class="card-title">
      <div class="toggle-info details card-details">
        <span class="left"></span>
        <span class="right"></span>
      </div>
      <h2><%= @weapon.title %></h2>
    </div>
    <div class="hidden-content hidden">
      <div class="card_image-holder">
        <%= cl_image_tag @weapon.photo.key, max_width: 250, crop: :fill %>
      </div>
        <div class="card-description target">
          <%= @weapon.content %>
        </div>
        <div class="card-actions">
          <%= link_to "View More", card_path(@weapon.id), class: "details" %>
        </div>
    </div>
  </div>

<div class="button-index" id="rounded-btn">
  <%= link_to "All Cards", cards_path, class: 'btn-index' %>
</div>