<h1>Warzone Companion</h1> <%# LOGO ICI%>

<h2>Bienvenue dans la bagarre</h2> <%# ENCART SUPER COOL ICI%>
<p>Salut jeune gueux, ici tu peux accéder à des tips à jours et des compo weapons des familles.</p> <%# POLICE DE OUF A TESTER%>
<p> <%= link_to "Inscris toi" %> pour créer gérer tes decks, et enrichis la commu de ton savoir :</p> <%# POLICE DE OUF A TESTER%>
<p>Upvote les cartes les plus pertinentes à tes yeux et lache tes meilleurs comms</p> <%# POLICE DE OUF A TESTER%>
<p>Attention la commu, fais mentir les rageux en respectant autrui</p> <%# POLICE DE OUF A TESTER%> <%# FIN DE L'ENCART SUPER COOL ICI%>

<h2> <%= link_to "Index all" %></h2> <%#BOUTON%>

<h2>Latest trick</h2> <%# POLICE DE OUF A TESTER%>
<p><strong>Tip Name</strong></p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
<%= image_tag("maxresdefault.jpg", alt: "Une image de bagarre") %> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
<p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>

<%= link_to "Homepage"  %> <%= link_to "Dropdown" %> <%= link_to "Account" %> <%#NAVBAR OU FOOTER AVEC LES LOGOS ET TOUT CE QUI VA BIEN%>