<div class="profile-card">
  <h1><%= @user.username %></h1>
  <div>
    <%= cl_image_tag @user.photo.key, id: "user-avatar" %>
  </div>
  <p>Member since: <%= @user.created_at.strftime("%d/%m/%Y") %></p>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deckModal">New deck</button>

<%= render 'decks/list' %>

<div class="modal fade" id="deckModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new deck</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= simple_form_for @deck do |f| %>
        <%= f.input :name %>
        <div class="button-index">
          <%= f.submit "Create", class: "btn-index" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>