<div class="create-card-container">
  <div class="form-border">
    <%= simple_form_for @card do |f| %>
      <%= f.input :title %>
      <%= f.input :category, collection: ["Tricks", "Weapons"], input_html: { id: "category" } %>   
      <%= f.input :level, collection: ["Beginner", "Intermediate", "Confirmed"], wrapper_html: { class: 'hidden', id: "level" } %>
      <%= f.input :content, as: :rich_text_area, :input_html => {:minlength => 42 , maxlength: 420} %>
        <div class="button-index">
          <%= f.submit "Submit", class: "btn-index" %>
        </div>
    <% end %>
  </div>
</div>