<div class="show-card">
  <div class="cards">
    <div class="card">
      <div class="card-title">
        <h2><%= @card.title %></h2>
      </div>
      <div class="hidden-content">
        <div class="level-category">
          <% if @card.category == "Weapons" %>
            <img id="ak-icon" src="https://img.icons8.com/ios-filled/50/000000/assault-rifle.png"/>
          <% else %>
            <i class="fas fa-book"></i>
          <% end %>
          <% if @card.level == "Beginner" %>
            <h4>Level : </h4>
            <img id="stars" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/US-O7_insignia.svg/200px-US-O7_insignia.svg.png" alt="stars">
          <% elsif @card.level == "Intermediate" %>
            <h4>Level : </h4>
            <% 2.times do %>
              <img id="stars" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/US-O7_insignia.svg/200px-US-O7_insignia.svg.png" alt="stars">
            <% end %>
          <% elsif @card.level == "Confirmed" %>
            <h4>Level : </h4>
            <% 3.times do %>
              <img id="stars" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/US-O7_insignia.svg/200px-US-O7_insignia.svg.png" alt="stars">
            <% end %>
          <% end %>
        </div>

        <%= form_tag card_favorites_path(@card), method: :post do %>
          <%= select_tag :name,
            options_for_select(Deck.all.pluck(:name)),
            class: "form-control",
            prompt: "Select a deck to put this card in:"
          %>
          <%= submit_tag "Add to", class: "btn btn-primary" %>
        <% end %>

        <div class="card_image-holder">
          <%= cl_image_tag @card.photo.key, max_width: 400, crop: :fill %>
        </div>
        <div class="card-description">
          <%= @card.content %>
        </div>
        <div class="votes" data-controller="votes" data-votes-card-id-value="<%= @card.id %>">
          <i class="fas fa-angle-double-up" data-action="click->votes#upvote"></i>
         <div class="upvotes-counter" data-votes-target="upcounter">
          <%= @card.votes.where(status: 'upvote').count %>         
         </div>
          <i class="fas fa-angle-double-down"></i>
        </div>
        <div>
          <p>Creator : <%= @card.creator.username %> </p>
        </div>
      </div>
    </div>
</div>
</div>

<h2>Comments :</h2>

<div class="display-comments">
  <% @card.comments.each do |comment| %>
    <p><%= comment.creator.username %> : <%= comment.content %></p>
  <% end %>
</div>

<h2>Add a comment :</h2>

<div class="create-card-container">
  <div class="form-border">
    <%= simple_form_for([@card, @comment], method: :post) do |f| %>
      <%= f.input :content, as: :rich_text_area, label: false %>
      <%= f.submit class: "btn-index" %>
    <% end %>
  </div>
</div>
