<div>
  <h1>My decks</h1>
</div>
<div class="cards">
  <div class="card">
    <% @decks.each do |deck| %>
      <div class="card-selector" id="<%= dom_id(deck) %>">
        <div class="card-title">
          <div class="toggle-info details">
            <span class="left"></span>
            <span class="right"></span>
          </div>
          <%= link_to deck_path(deck), method: :delete, remote: true, data: { confirm: "Are you sure ?"} do %>
            <div class="delete-btn details" id="<%= deck.id %>">
              <span class="left"></span>
              <span class="right"></span>
            </div>
          <% end %>
        <h2><%= deck.name %> (<%= deck.cards.count %> cards)</h2>
        </div>
        <div class="hid-content hidden">
          <div class="card-description">
            <% deck.cards %>
          </div>
          <div class="card-actions">
            <%= link_to "Open Deck", deck_path(deck.id), class: "details" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>