<div>
<h1>Your selection</h1>
</div>
<div class="cards">
  <div class="card">
    <% @cards.each do |card| %>
      <div class="card-selector">
        <div class="card-title">
          <div class="toggle-info details">
            <span class="left"></span>
            <span class="right"></span>
          </div>
          <% favorite = Favorite.find_by(deck: @deck, card: card) %>
          <%= link_to favorite_path(favorite), method: :delete, remote: true, data: { confirm: "Are you sure ?"} do %>
            <div class="delete-btn details" id="<%= card.favorites %>">
              <span class="left"></span>
              <span class="right"></span>
            </div>
          <% end %>
        <h2><%= card.title %></h2>
        </div>
        <div class="hid-content hidden">
          <div class="card_image-holder">
            <img class="card_image" src="https://img.gfinityesports.com/news/image/7/1/1500x0-nc/how_to_win_call_of_duty_warzone_AiwLTH3.jpg" />
          </div>
          <div class="card-description target">
            <%= card.content %>
          </div>
          <div class="card-actions">
            <%= link_to "View More", card_path(card.id), class: "details" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>