<!DOCTYPE html>
<html>
  <head>
    <title>Warzone Companion: From "noob" to Master !</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= favicon_link_tag asset_path('ghost_logo.png') %>
  </head>

  <body>
    <h1>Warzone Companion</h1>
    <br>
    <%= render 'shared/flashes' %>
    <div class="big-container">
      <%= yield %>
    </div>
    <%= render 'shared/navbar' %>
  </body>
</html>
